<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Contact Manager</title>

    <!-- Bootstrap -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="src/stylesheets/application.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" >
    <div class="navbar-inner">
        <div class="container">
            <h1><span class="brand">Contact Manager</span></h1>
        </div>
    </div>
</div>

<h1>Examples:</h1>
<h3>Modular example 1, Composite view with table</h3>
<div id="main-region" class="container">
    <p>Main region 1</p>
</div>

<h3>Modular example 2, Composite view with list</h3>
<div id="main-region2" class="container">
    <p>Main region 2</p>
</div>

<h3>Buttons example</h3>
<div id="main-region3" class="container">
    <p>Main region 3</p>
</div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/json2/json2.js"></script>
<script src="bower_components/underscore/underscore.js"></script>
<script src="bower_components/backbone/backbone.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/marionette/lib/backbone.marionette.js"></script>
</body>


<script type="text/template" id="contact-list">
    <thead>
        <tr><th>First Name</th><th>Last Name</th></tr>
    </thead>
    <tbody>
    </tbody>
</script>
<script type="text/template" id="contact-list-available">
    <p>List of contacts available:</p>
    <ul>
    </ul>
</script>
<script type="text/template" id="contact-list-available-item">
    <%- firstName %> <%- lastName %>
</script>
<script type="text/template" id ="contact-list-item">
    <td><%- firstName %> <%- lastName %></td>
</script>
<script type="text/template" id="contact-list-item-button">
    <td><%- firstName %></td><td><%- lastName %></td>
    <td><button class="btn btn-small"><i class="icon-remove">Delete</i></button></td>
</script>
<script type="text/template" id="contact-list-buttons">
    <thead><tr><th>First Name</th><th>Last Name</th><th>Actions</th></tr></thead>
    <tbody></tbody>
</script>

<script src="./src/js/app.js"></script>
<script src="./src/js/entities/contactinfo.js"></script>
<script src="./src/js/apps/contacts/list/list_view.js"></script>
<script src="./src/js/apps/contacts/list/list_controller.js"></script>
<script type="text/javascript">
    ContactManager.start();
    console.log("Contact manager has started 2");
</script>

</html>